

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <div id="app">
        <nav class="main-navigation">
            <ul class="main-navigation__items">
                <li class="main-navigation__item"><button>Home</button></li>
                <li class="main-navigation__item"><button>New note</button></li>
            </ul>
        </nav>
        <h1>{{ title }}</h1>
    </div>
</div>
</body>

</html>