

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div id="app">
        <nav class="main-navigation">
            <ul class="main-navigation__items">
                {{#content.navigation}}
                <li class="main-navigation__item"><a  href="{{href}}">{{title}}</a></li>
                {{/content.navigation}}
            </ul>
        </nav>
        <div class="main-content">
            <h1 class="main-content__heading">{{ content.title }}</h1>
            <div class="note-list">
                <div class="note-card">
                    <h2 class="note-card__heading">Test</h2>
                    <img class="note-card__image" src="https://www.placecage.com/g/350/200" alt=""/>
                    <div class="note-card__info">
                        <p class="note-card__date">25.11.2018</p>
                        <p class="note-card__creator">By: MikkoJ</p>
                    </div>
                    <p class="note-card__teaser-text">Something something something...</p>
                    <button class="note-card__button">
                        View
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>