<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/home.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app">
      <nav class="main-navigation">
        <ul class="main-navigation__items">
          {{#content.navigation}}
          <li class="main-navigation__item">
            <a href="{{href}}">{{ title }}</a>
          </li>
          {{/content.navigation}}
        </ul>
      </nav>
      <div class="main-content">
        <h1 class="main-content__heading">{{ content.title }}</h1>
        <div class="note-list js-note-list"></div>
      </div>
    </div>
    <script id="note-card-template" type="text/template">
      <div class="note-card" data-card-id="{id}">
        <button class="js-delete-card note-card__button">Delete</button>
        <h2 class="note-card__heading">{heading}</h2>
        <img
          class="note-card__image"
          src="{image}"
          alt=""
        />
        <div class="note-card__info">
          <p class="note-card__date">{date}</p>
          <p class="note-card__creator">By: {creator}</p>
        </div>
        <p class="note-card__teaser-text">
          {text}
        </p>
        <a class="note-card__button" href="/notes/view/{id}">View</a>
      </div>
    </script>
    <script src="../assets/js/home.min.js"></script>
  </body>
</html>
