<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/new-note.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app">
      <nav class="main-navigation">
        <ul class="main-navigation__items">
          {{#content.navigation}}
          <li class="main-navigation__item">
            <a href="{{href}}">{{ title }}</a>
          </li>
          {{/content.navigation}}
        </ul>
      </nav>
      <div class="main-content">
        <h1 class="main-content__heading">{{ content.title }}</h1>
        <div class="form-wrapper">
          <div class="js-success-message"></div>
          <div class="js-error-message"></div>
          <form class="form js-add-note-form">
            <label for="title" class="form__label">Title</label>
            <input name="title" id="title" type="text" class="form__input" />
            <input type="hidden" name="creator" id="creator" value="mikkoj" />
            <label for="content" class="form__label">Notes</label>
            <textarea
              name="content"
              id="content"
              minlength="1"
              maxlength="2000"
              row="6"
              cols="200"
              title="Notes"
              class="form__textarea"
            ></textarea>
            <label for="image" class="form__label">Add image</label>
            <input type="file" name="image" id="image" class="form__input" />
            <button type="submit" class="form__button">Save</button>
          </form>
        </div>
      </div>
    </div>
    <script src="../assets/js/form.min.js"></script>
  </body>
</html>
