<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/normalize.css"
    />
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/view-note.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app">
      <nav class="main-navigation">
        <ul class="main-navigation__items">
          {{#content.navigation}}
          <li class="main-navigation__item">
            <a href="{{href}}">{{ title }}</a>
          </li>
          {{/content.navigation}}
        </ul>
      </nav>
      <div class="main-content">
        <h1 class="main-content__heading">{{ content.title }}</h1>
        <div class="view-note">
          <div class="view-note__wrapper">
            <div class="view-note__heading-wrapper">
              <h2 class="view-note__heading js-note-heading"></h2>
              <a
                href="/notes/edit/{{id}}"
                class="view-note__button js-edit-button"
                >Edit</a
              >
            </div>
            <img alt="" src="" class="view-note__image js-note-image" />
            <div class="view-note__text-wrapper">
              <p class="view-note__date js-note-date"></p>
              <p class="view-note__creator js-note-creator">Created by:</p>
            </div>
            <p class="view-note__content js-note-content"></p>
          </div>
        </div>
        <div class="chat">
          <div class="chat__wrapper">
            <h2 class="main-content__heading">
              Share your opinions on this note
            </h2>
            <div class="chat__window js-chat-window"></div>
            <div class="chat__input-wrapper">
              <form action="" class="js-chat-form">
                <input
                  type="text"
                  name="message"
                  id="message"
                  class="chat__input js-input"
                  placeholder="Type your comment here"
                />
                <button type="submit" class="chat__send-button js-send">
                  Send
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../assets/js/view.min.js"></script>
    <script src="../../assets/js/rtc.min.js"></script>
    <script type="text/javascript">
      if (!sessionStorage.getItem('username')) {
        sessionStorage.setItem('username', '{{username}}');
      }
    </script>
  </body>
</html>
