<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/normalize.css"
    />
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/view-note.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="app">
      <nav class="main-navigation">
        <ul class="main-navigation__items">
          {{#content.navigation}}
          <li class="main-navigation__item">
            <a href="{{href}}">{{ title }}</a>
          </li>
          {{/content.navigation}}
        </ul>
      </nav>
      <div class="main-content">
        <h1 class="main-content__heading">{{ content.title }}</h1>
        <div class="view-note">
          <div class="view-note__wrapper">
            <div class="view-note__heading-wrapper">
              <h2 class="view-note__heading js-note-heading"></h2>
              <a
                href="/notes/edit/{{id}}"
                class="view-note__button is-hidden js-edit-button"
                >{{ content.card.edit }}</a
              >
            </div>
            <img alt="" src="" class="view-note__image js-note-image" />
            <div class="view-note__text-wrapper">
              <p class="view-note__date js-note-date"></p>
              <p class="view-note__creator js-note-creator">
                {{ content.card.createdBy }}
              </p>
            </div>
            <p class="view-note__content js-note-content"></p>
          </div>
        </div>
        <div class="chat">
          <div class="chat__wrapper">
            <h2 class="main-content__heading">{{ content.chat.title }}</h2>
            <div class="chat__window js-chat-window"></div>
            <div class="chat__input-wrapper">
              <form action="" class="js-chat-form">
                <input
                  type="text"
                  name="message"
                  id="message"
                  class="chat__input js-input"
                  placeholder="{{ content.chat.input }}"
                />
                <button type="submit" class="chat__send-button js-send">
                  {{ content.chat.button }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../assets/js/view.min.js"></script>
    <script src="../../assets/js/rtc.min.js"></script>
    <script type="text/javascript">
      if (!sessionStorage.getItem('username')) {
        sessionStorage.setItem('username', '{{username}}');
      }
    </script>
  </body>
</html>
