$white: #fff;
$grayDark: #191919;
$gray: #464646;
$grayLight: #848484;
$greenLight: #e7ffc3;
$green: #007500;
$redLight: #ffe0e6;
$red: #bf0000;

$baseFontFamily: 'Open Sans', sans-serif;

$tablet-bp: 60em;
