@import './helpers/variables.scss';
@import './helpers/mixins.scss';

.form {
  display: flex;
  flex-direction: column;

  &-wrapper {
    max-width: 60rem;
    margin: 0 auto;
  }

  &__input {
    margin-bottom: 1rem;
    min-height: 2rem;
    border: solid 1px $grayLight;
    padding: 0.5rem;
  }

  &__textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    border: solid 1px $grayLight;
  }

  &__label {
    font-family: $baseFontFamily;
    margin-bottom: 0.75rem;
  }

  &__button {
    font-family: $baseFontFamily;
    background: none;
    background-color: $gray;
    color: $white;
    border: none;
    padding: 0.75rem 0;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      border: 1px solid $gray;
      color: $grayDark;
      background-color: $white;
    }
  }

  &__image {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.message-box {
  padding: 1rem;

  &--success {
    background-color: $greenLight;
    color: $green;
  }

  &--error {
    background-color: $redLight;
    color: $red;
  }
}
