@import './helpers/variables.scss';
@import './helpers/mixins.scss';

.view-note {
  &__wrapper {
    max-width: 48rem;
    margin: 0 auto;
  }

  &__heading {
    font-family: $baseFontFamily;
    margin: 0;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  }

  &__date {
    font-family: $baseFontFamily;
    margin-bottom: 1rem;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__creator {
    font-family: $baseFontFamily;
    margin-bottom: 1rem;
  }

  &__content {
    font-family: $baseFontFamily;
    margin-bottom: 1rem;
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    font-family: $baseFontFamily;
    background: none;
    background-color: $gray;
    color: $white;
    border: none;
    padding: 0.75rem 0;
    min-width: 6rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      border: 1px solid $gray;
      color: $grayDark;
      background-color: $white;
    }
  }
}

.chat {
  &__wrapper {
    max-width: 48rem;
    margin: 4rem auto 0;
  }

  &__window {
    border: solid 1px $grayLight;
    min-height: 6rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;
  }

  &__row {
    border-bottom: solid 1px $grayLight;
    padding: 0.5rem 0;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__sender {
    font-family: $baseFontFamily;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    font-weight: bold;
  }

  &__comment {
    font-family: $baseFontFamily;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  &__input {
    min-width: 50%;
    min-height: 2rem;
    font-family: $baseFontFamily;
    font-size: 0.9rem;
    padding: 0.5rem;
    border: solid 1px $grayLight;

    @include media-max($tablet-bp) {
      margin-bottom: 1rem;
      width: 95%;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      @include media-max($tablet-bp) {
        display: block;
      }
    }
  }

  &__send-button {
    font-family: $baseFontFamily;
    background: none;
    background-color: $gray;
    color: $white;
    border: none;
    padding: 0.75rem 0;
    min-width: 6rem;
    width: auto;
    cursor: pointer;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      border: 1px solid $gray;
      color: $grayDark;
      background-color: $white;
    }

    @include media-max($tablet-bp) {
      width: 100%;
    }
  }
}
